<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="Library Architecture and Framework IDE Support"
    id="com.ti.rtsc.libarch.product.ui"
    version="1.0.0.00"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.help.toc">
      <toc file="toc_top.xml" primary="true"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>

    <extension
         point="org.eclipse.core.variables.dynamicVariables">
     <variable 
        name="COM_TI_RTSC_LIBARCH_INSTALL_DIR"
        resolver="org.eclipse.rtsc.xdctools.ui.macros.MacroResolver"
        description="Installation directory for Library Architecture and Framework">
     </variable>
   </extension>



</plugin>
