<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="OpenMP Runtime 2.x library Target Content"
    id="com.ti.rtsc.openmp.product_2.5.0.00"
    version="2.5.0.00"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../../docs/doxygen/html"/>
        <info
            installLocation="../../.."
            productName="OpenMP Runtime 2.x library"
            versionNumber="2.5.0.00"
        />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.rtsc.openmp"
            name="OpenMP Runtime 2.x library"
            folderPrefix="openmp"
            rootMacroName="COM_TI_RTSC_OPENMP_INSTALL_DIR"/>
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.rtsc.openmp"
            version="2.5.0.00">
            <resources location="resources"/>
        </product>
    </extension>
</plugin>
