[Unit]
Description=Opkg first boot configure
DefaultDependencies=no
After=systemd-remount-fs.service systemd-tmpfiles-setup.service tmp.mount
Before=sysinit.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/postinst
ExecStart=-/bin/sh -c " if [ $POSTINST_LOGGING = '1' ]; then /usr/bin/opkg configure > $LOGFILE 2>&1; else /usr/bin/opkg configure; fi"
ExecStartPost=/bin/systemctl disable opkg-configure.service
StandardOutput=syslog
RemainAfterExit=No

[Install]
WantedBy=basic.target
WantedBy=sysinit.target
