<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="OpenMP Runtime 2.x library IDE Support"
    id="com.ti.rtsc.openmp.product.ui"
    version="2.5.0.00"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.help.toc">
      <toc file="toc_top.xml" primary="true"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>

    <extension
         point="org.eclipse.core.variables.dynamicVariables">
     <variable 
        name="COM_TI_RTSC_OPENMP_INSTALL_DIR"
        resolver="org.eclipse.rtsc.xdctools.ui.macros.MacroResolver"
        description="Installation directory for OpenMP Runtime 2.x library">
     </variable>
   </extension>



</plugin>
