.icons_cell
{
	font-size:100%;
}

#iconlist
{
	font-size:13px;
}

#banner
{
	font-size:20px;
}

#banner img
{
	margin-right:10px;
}

#next_arrow_img, #previous_arrow_img,#run_img , #back_button_img,#exit_button_img,#logo_img
{
	width:50px;
	height:50px;

}

.icons_cell img, .app_icon
{
	width:96px;
	height:96px;
}

#descrip_text,#descrip_title
{
	font-size:16px;
}

#descrip_text,#container
{
	height:400px;
	overflow:auto;
}

#coming_soon
{
	font-size:16px;
}
