<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="Library Architecture and Framework Target Content"
    id="com.ti.rtsc.libarch.product_1.0.0.00"
    version="1.0.0.00"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../../docs/doxygen/html"/>
        <info
            installLocation="../../.."
            productName="Library Architecture and Framework"
            versionNumber="1.0.0.00"
        />
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="com.ti.rtsc.libarch"
            name="Library Architecture and Framework"
            folderPrefix="linalg"
            rootMacroName="COM_TI_RTSC_LIBARCH_INSTALL_DIR"/>
    </extension>

    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="com.ti.rtsc.libarch"
            version="1.0.0.00">
            <resources location="resources"/>
        </product>
    </extension>
</plugin>
