*.tar.gz

# Linux stuff
/autom4te.cache
/aclocal.m4
/linuxutils-*
/config.log
/config.status
/libtool
.deps/
/Makefile
/src/cmem/Makefile
/src/cmem/api/Makefile
/src/cmem/tests/Makefile
/src/cmem/*/.libs
/src/cmem/*/.deps
/src/cmem/*/*.o
/src/cmem/*/*.la
/src/cmem/*/*.lo
/src/cmem/tests/apitest
/src/cmem/tests/multi_process
/src/cmem/tests/translate
/src/cmem/module/.tmp_versions
/src/cmem/module/*.ko
/src/cmem/module/*.cmd
/src/cmem/module/modules.order
/src/cmem/module/Module.symvers
/src/cmem/module/cmemk.mod.c
